.home__list{
    display: flex;
    .list__movie{
        width: 100%;
    }
}

.main__carousel{
    overflow: hidden;
    cursor: grab;
}

.inner__carousel{
    display: flex;
}

.item__carousel{
    padding: 10px;
    img{
        width: 200px;
        pointer-events: none;
    }
}