.home__list{
    display: flex;
    .list__movie{
        width: 100%;
    }
}

.carousel{
    overflow: hidden;
    cursor: grab;
}

.inner-carousel{
    display: flex;
}

.item{
    padding: 10px;
    img{
        width: 200px;
        pointer-events: none;
    }
}