h2{
    margin-bottom: 10px;
}
.home{
    width: 100vw;
    .home__lists{
        margin-left: 50px;
        .home__list{
            position: relative;
            top: -120px;
            .list__carousel{
                margin-bottom: 50px;
            }
        }
    }
}